@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+25&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--default-font-family: "Space Mono";
	--font-pixel-header: "Jersey 25";

	--radius-default-round: 5px;

	--color-text: #e9fcf5;
	--color-background: #18141c;
	--color-active-background: #2c2433;
	--color-primary: #4431d8;
	--color-secondary: #4c4759;
	--color-accent: #00c27a;
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
}
